.form-box{
  width: 350px;
  margin: auto;
  background: #fff;
 /*margin: 150px auto 0 auto;*/
}
.gform{
 font-size: 20px;
 line-height: 40px;
 list-style: none;
 color:#333;
 font-weight: bold;
}
.gform  > dl > dd > input{
 border: none;
 border-bottom: 1px solid #424242;
 background: transparent;
 display: block;
 resize: none;
 margin-top: 0.5vh;
 width: 100%;
 border-radius: 0;
 text-align: end;
 color: #000;
 font-size: 15px;
 font-weight: bold;
 
}
.gform > dl > dd > textarea{
  width: 100%;
  height: 270px;
  border: 1px solid #000;
}
.gform > dl > dd > textarea::placeholder{
 color:#333;
 text-align: center;
 padding-top: 110px;
 font-size: 20px;
 font-family:'PoiretOne-Regular';
 
}
.gform > dl > dd >input:focus {
  outline:none;
 } 
.send{
text-align: center;
}
.send > button{
  background: #efefef;
  border: none;
  width: 200px;
  height: 60px;
  color: gray;
  line-height: 0;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}
.thankyou_message {
  width: 430px;
  margin: auto;
  height: 83%;
  background-color: rgb(237, 166, 166);
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20%;
}
.thankyou_message > h2{
  text-align: center;
}
@media screen and (max-width: 1707px) {
  .form-box {
    width: 300px;
  }
  .gform {
    font-size: 15px;
  }
  .gform > dl > dd > input {
    margin-top: -2.5vh;
  }
  .gform > dl > dd > textarea {
    height: 200px;
    padding-top: 0;
  }
  .gform > dl > dd > textarea::placeholder{
    padding-top: 80px;
   }
  .send > button {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }
.thankyou_message {
  width: 300px;
  height: 83%;
  }
}
@media screen and (max-width: 501px) {
.form-box{
  width: 200px;
}
.gform{
 font-size: 11px;
}
.gform > dl > dd > input {
  margin-top: -3.5vh;
  font-size: 11px;
}
.gform > dl > dd > textarea{
 height: 120px;
}
.gform > dl > dd > textarea::placeholder{
  padding-top: 50px;
  font-size: 13px;
}
.send > button {
  width: 92px;
  height: 30px;
  font-size: 12px;
}
.thankyou_message {
  top: 77%;
  }
}
@media screen and (max-width: 480px) {
  .thankyou_message > h2 {
    padding-top: 50px;
    font-size: 13px;
  }
  .thankyou_message {
    width: 265px;
    height: 75%;
}

}





